<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock %}

{% block body %}
<div style="height:auto; width: 100%; position: relative;  background-color:transparent; ">
<div style="margin-top:100px">
  <div class="container">
    <div class="jumbotron" style=" background-color:rgba(0,0,0,0.3); color:white;" >
      <h1>Reward Room</h1>
      <ul>
        <li><h4>The main Advantage of This Platform is that You can earn Money by Playing game PUBG Mobile.</h4></li>
          <br>
          <br>
      </ul>
      <h1>Extra Information</h1>
      <ul>
        <li><h4>The main thing is <b style="color:red;">Emulators</b> are allowed</h4></li>
        <li><h4>Your Price Money will be transfered to your given Paytm no by within 24hrs of the winning Day.</h4></li>
        <li><h4>Any hacking activity will lead to ban their account and no winning amount will be given at that situation.</h4></li>
        <li><h4>Send us Feedback by contact us form for further improvements.</h4></li>
        <li><h4>For any Queries Contact us !  <a href="/user/contactus" class="btn btn-sm btn-primary">here</a></h4></li>
      </ul>
    </div>
  </div>
</div>
</div>
{% endblock %}
