<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block body %}
<div style="height:auto; width: 100%; position: relative;  background-color:transparent; ">
<div style="margin-top:100px">
  <div class="container">
    <div class="jumbotron" style=" background-color:rgba(0,0,0,0.3);" >
      <form method="post">
        <center>
        {% csrf_token %}
          <h2 style="color:white;">SIGNUP HERE</h2>
          {% for field in form %}
            <div class="form-group">
              {{field}}
            </div>
           {% endfor %}
          <div class="form-group">
              <input type="submit" name="signupform" class="form-submit btn btn-primary" value="SIGN UP"/>
          </div>
          </center>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}
